:root{
    --primary-color: #d60000; 
    --secondary-color: white; 
    --font-color: black;
    --main-border-style: 5px solid var(--primary-color);
    --strong-border-style: 5px solid var(--primary-color);
    --font-family: 'Arial, sans-serif'solid var(--font-color);
    --text-align: center;
    --padding: 5px 0 solid var(--primary-color);
    --img-bloque: block;
    --img-margen: 0 auto;
}

body{
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    text-align: var(--text-align);
}

.header {
	text-align: var(--text-align);
	color: var(--font-color);
	/*border: var(--main-border-style);*/
    padding: var(--padding);
}

.header img{
    display: var(--img-bloque);
    margin: var(--img-margen);
}
/*posible cmabio*/
.main{
    
	color: var(--font-color);
	border: var(--main-border-style);
    padding: var(--padding);
    text-align: var(--text-align);
}
h1 {
	color: var(--secondary-color);
    background-color: var(--primary-color);
	text-align: var(--text-align);
}

h5 {
    color: var(--primary-color);
    text-align: var(--text-align);
}

p .noticia::first-letter {
    font-weight: bold;
    color: blue;
    font-size: 150%;
}