:root {
    --primary-color: #d60000;
    --secondary-color: white;
    --font-color: black;
    --main-border-style: 5px solid var(--primary-color);
    --strong-border-style: 5px solid var(--primary-color);
    --font-family: 'Arial, sans-serif' solid var(--font-color);
    --text-align: center;
    --padding: 5px 0 solid var(--primary-color);
    --img-bloque: block;
    --img-margen: 0 auto;
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    text-align: var(--text-align);
}

.header {
    text-align: var(--text-align);
    color: var(--font-color);
    /*border: var(--main-border-style);*/
    padding: var(--padding);
}

.header img {
    display: var(--img-bloque);
    margin: var(--img-margen);
}

h1 {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-align: var(--text-align);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.noticia {
    width: 30%;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}

.noticia img {
    width: 100%;
    height: auto;
}

.noticia h5 {
    font-size: 1.2em;
    color: var(--primary-color);
}

.noticia h6 {
    font-size: 1em;
    color: #777;
    margin: 10px 0;
}

.noticia p {
    font-size: 0.9em;
    color: #333;
}